@import '_header';
@import '_main';
@import '_popup';
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top:12em;
}

@media (min-width:1600){
    html{
        scroll-padding-top:5em;
    }

}
